.form-head {
  font-size: 30px;
}
.user-input {
  margin-top: 5px;
  width: 350px;
  height: 30px;

  font-size: 15px;
  padding-left: 15px;
  padding: 5px 10px;
}
.password-input {
  margin-top: 5px;
  width: 350px;
  height: 30px;
  font-size: 15px;
  padding-left: 15px;
  padding: 5px 10px;
}
.logged-btn {
  margin-top: 20px;
  display: block;
  color: #fff;
  background-color: #00cdac;
  width: 364px;
  font-size: 18px;
  height: 40px;
  padding: 5px;
}
.form-control {
  margin-top: 20px;
}
