.book-btn {
  width: 164px;
  height: 54px;

  background: #ff736a;
  color: #fff;
  margin-right: 20px;
}
.download-btn {
  width: 220px;
  height: 54px;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */

  text-align: center;
  letter-spacing: -0.01em;

  color: #ff736a;
  background: #fff;
  border: 2px solid #ff736a;
}
.book-btn:hover {
  color: #ff736a;
  background: #fff;
  border: 2px solid #ff736a;
}
.download-btn:hover {
  background: #ff736a;
  color: #fff;
}
