@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0px 2px 22px rgba(82, 164, 154, 0.08),
    inset 0px -1px 0px rgba(0, 0, 0, 0.06);
  height: 90px;
  align-items: center;
}
.logo {
  width: 153px;
  height: 42px;
}
.btn {
  cursor: pointer;
  border-radius: 80px;
  text-align: center;
  align-items: center;
  line-height: 24px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  border: none;
}
.nav-links {
  display: flex;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.nav-link {
  list-style-type: none;
  margin-right: 50px;
}
a {
  text-decoration: none;
  color: #000;
}
.login-btn {
  padding: 10px 24px;
  gap: 6px;
  background: linear-gradient(360deg, #52a49a -65.93%, #00cdac 100%);
  cursor: pointer;
  color: #fff;
}
.login-btn:hover {
  color: #00cdac;
  background: white;
  border: 2px solid #00cdac;
}
